
BackendServices/.DS_Store
BackendServices/src/.DS_Store
.DS_Store
.vscode/settings.json
BackendServices/src/main/resources/application.properties
BackendServices/src/main/resources/application.properties
BackendServices/src/main/resources/application.properties
public/portfolio-app/.env
